<!DOCTYPE html>
<head>
  <link href="{{ site.baseurl }}/css/boots.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
  
  {% include header.html %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-7">{{ content }}
        {% if page.forms[0] %}{% include form.html form="1" %}{% endif %}
      </div>
        <div class="col-md-1"></div>
      <div class="col-md-4">{% include sidebar.html %}</div>
    </div>
    {% include footer.html %}
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
